@CHARSET "UTF-8";

#doc2 {
	color: #333;
}

#title {
	background-image: url("../gfx/header.jpg");
	height: 75px;
	margin: 1em 0;
}

#ft {
	font-size: smaller;
	text-align: center;
}

h2 {
	text-align: right;
	padding: 0.5em 0;
	border-bottom: 1px solid #333;
}

img {
	vertical-align: bottom;
}

a,a:link,a:visited,a:active {
	color: #339;
	text-decoration: none;
	font-weight: bold;
}

table,tr,th,td {
	border: 0;
}

p#path {
	text-align: right;
}

.metadata {
	width: 100%;
}

.metadata-field-group {
	font-size: larger;
	width: 20%;
}

.metadata-field {
	width: 30%;
}

.metadata tr {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.metadata td,.metadata th {
	padding: 0.5em 1em;
}

.metadata th {
	text-align: right;
}