.ann-del {
	text-decoration: line-through;
}

.ann-add {
	vertical-align: super;
}

.ann-speaker {
	font-weight: bold;
}

.ann-speaker-first {
    margin-left: 8em;
}

.ann-stage-first {
    margin-left: 8em;
}

.ann-expan-first:before, .ann-ex-first:before{
	content: "[";
}

.ann-expan-last:after, .ann-ex-last:after{
	content: "]";
}

/*
.ann-gestage-0{
	color: red;
}
.ann-gestage-1{
	color: blue;
}
.ann-gestage-2{
	color: green;
}
*/

.linenum{
	display: inline-block;
	font-size: small;
	color: grey;
	width: 3em;
    text-align: right;
    margin-right: 2em;
}