.ann-del {
	text-decoration: line-through;
}

.ann-add {
	vertical-align: super;
}

.ann-speaker {
	font-weight: bold;
}

.ann-expan-first:before, .ann-ex-first:before{
	content: "[";
}

.ann-expan-last:after, .ann-ex-last:after{
	content: "]";
}

.ann-stage-0{
	color: red;
}
.ann-stage-1{
	color: blue;
}
.ann-stage-2{
	color: green;
}

.linenum{
	display: inline-block;
	font-size: small;
	color: grey;
	width: 3em;
}