body { font-family: sans-serif; font-size: 80% }

a { color: #805F40 }

table, td, th, tr { border: 0 }

#header,#footer {
	margin: 0em;
	padding: 0.5em;
}

#main {
	font-size: 100%;
	margin: 1em;
	padding: 1em;
}

#header h1 {
	text-align: right;
}

#footer {
	font-size: smaller;
	text-align: center;
}

/* Stilkatalog */

.font-family-0 { font-family: serif }
.font-family-1 { font-family: sans-serif }
.font-family-2 { font-family: monospace }

.font-size-0 { font-size: medium; font-variant: normal }
.font-size-1 { font-size: large; font-variant: normal }
.font-size-2 { font-size: small; font-variant: normal }
.font-size-3 { font-size: medium; font-variant: small-caps }

.font-variant-0 { font-style: normal; font-weight: normal }
.font-variant-1 { font-style: normal; font-weight: bold }
.font-variant-2 { font-style: italic; font-weight: normal }
.font-variant-3 { font-style: italic; font-weight: bold }

.color-0 { color: #000 }
.color-1 { color: #805F40 }
.color-2 { color: #404D80 }
.color-3 { color: #408051 }

.stroke-0 { stroke: #000 }
.stroke-1 { stroke: #805F40 }
.stroke-2 { stroke: #404D80 }
.stroke-3 { stroke: #408051 }

.fill-0 { fill: #000 }
.fill-1 { fill: #805F40 }
.fill-2 { fill: #404D80 }
.fill-3 { fill: #408051 }

.text-decoration-0 { text-decoration: normal }
.text-decoration-1 { text-decoration: underline }
.text-decoration-2 { text-decoration: line-through }
.text-decoration-3 { text-decoration: overline }