body { margin: .5em auto; width: 960px; color: #333; }
body.layout-wide {width: 97%;}

a { color: #000; font-weight: bold; text-decoration: none }

table, td, th, tr { border: 0 }

#header, #footer { margin: 0; padding: 0 }

#header { margin-bottom: 1em;}
#header a { font-weight: normal;  }
#header h1 a { font-weight: bold;  }
#header #quick-search { margin: 0; font-size: 138.1%; width: 20em }


#footer { margin-top: 2em; font-size: smaller; text-align: center; }

#main { padding: 0 1em;}
#main.layout-wide { padding: 10 10;}

.hidden { visibility: hidden; }

.left { text-align: left }
.center { text-align: center }
.right { text-align: right }

.big { font-size: 123.1% }
.small { font-size: 85% }

.yui3-loading #top-navigation { display: none; }

/* Stilkatalog */

.font-family-0 { font-family: serif }
.font-family-1 { font-family: sans-serif }
.font-family-2 { font-family: monospace }

.font-size-0 { font-size: 100%; font-variant: normal }
.font-size-1 { font-size: 123.1%; font-variant: normal }
.font-size-2 { font-size: 85%; font-variant: normal }
.font-size-3 { font-size: 100%; font-variant: small-caps }

.font-variant-0 { font-style: normal; font-weight: normal }
.font-variant-1 { font-style: normal; font-weight: bold }
.font-variant-2 { font-style: italic; font-weight: normal }
.font-variant-3 { font-style: italic; font-weight: bold }

.color-0 { color: #000 }
.color-1 { color: #805F40 }
.color-2 { color: #404D80 }
.color-3 { color: #408051 }

.stroke-0 { stroke: #000 }
.stroke-1 { stroke: #805F40 }
.stroke-2 { stroke: #404D80 }
.stroke-3 { stroke: #408051 }

.fill-0 { fill: #000 }
.fill-1 { fill: #805F40 }
.fill-2 { fill: #404D80 }
.fill-3 { fill: #408051 }

.text-decoration-0 { text-decoration: normal }
.text-decoration-1 { text-decoration: underline }
.text-decoration-2 { text-decoration: line-through }
.text-decoration-3 { text-decoration: overline }

/* System */

.system-note { background: #404D80; color: white; padding: 2em; text-align: center; }
.demo-note { margin: 0.5em 1em; padding: 0.5em 1em; background: #408051; color: white; border: 1px solid #fff; display: none}

/* Text */

.line { margin: 0; }
p.head { margin: 1em 0; font-weight: bold; font-size: 123.1%; }
p.para-start { margin-top: 1em; }
.speaker { color: #805F40; }
.stage { font-style: italic; }

/* Restricted */
a.edit-permissions {
  background: url(../img/wrench.png) no-repeat;
  padding-left: 1.5em;
  background-size: contain;  	
}

/* Hide overlay markup while loading, if js is enabled */
.yui3-js-enabled .yui3-overlay-loading {
    top: -1000em;
    left: -1000em;
    position: absolute;
}
/* Overlay Look/Feel */
.yui3-overlay-content {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.yui3-overlay-content .yui3-widget-hd {
    background-color: #eee;
    color: #000;
    font-size: 120%;
    font-weight: bold;
    padding: 0.2em 0.5em 0.3em;
    border-radius: 2px 2px 0 0;
}

.yui3-overlay-content .yui3-widget-bd {
    padding: 0.4em 0.6em 0.5em;
    overflow: auto;
}

.yui3-overlay-content .yui3-widget-ft {
    background-color:#eee;
    padding: 0.4em 0.6em 0.5em;
    border-radius: 0 0 2px 2px;
}

.text-container .textContent {
	max-height: 600px;
	overflow: auto
}


.faust-ajax-loading {
	background-image: url('../img/spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100px;
}
